nav {
    background-color: black;
    padding: 0.5em;
    color: white;

}

a {
    color: white;
}   

.menuItems {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

nav a:hover {
    color: #fff042;
}




