body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.logo {
    background-color: #b8acd5;
    padding-top:3em;
    padding-bottom: 3em;
    padding-left: 10em;
    padding-right: 10em;
}


h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h3 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.paragraph1 {
    background-color : #e7e3f2;
    padding-top: 2em;
    padding-bottom: 2em;
    
}

.paragraph2 {
    background-color: #b8acd5;
    padding-top: 2em;
    padding-bottom: 2em;
}

body {
    font-family: 'Open Sans', sans-serif;
  }

a {
    text-align: center;
}
  
  .graph .labels.x-labels {
    text-anchor: middle;
  }
  
  .graph .labels.y-labels {
    text-anchor: end;
  }
  
  
  .graph {
    height: 500px;
    width: 800px;
  }
  
  .graph .grid {
    stroke: black;
    stroke-dasharray: 0;
    stroke-width: 1;
  }
  
  .labels {
    font-size: 13px;
  }
  
  .label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: black;
  }
  
  .data {
    fill: #1a073d;
    stroke-width: 1; 
  }

